{% load i18n %}

{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <head>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Task manager</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-none mb-3">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <h3 class="navbar-nav mr-auto">Менеджер задач</h3>
          <form class="form-inline bg-light my-2 my-lg-0">
            <button class="btn btn-outline-secondary my-2 my-sm-0 mx-2" type="submit"><a href="#">Пользователи</a></button>
            <button class="btn btn-secondary my-2 my-sm-0 mx-2" type="submit">Вход</button>
            <button class="btn btn-secondary my-2 my-sm-0 mx-2" type="submit">Регистрация</button>
          </form>
      </div>
    </nav>

    <div class="container wrapper flex-grow-1">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>